.taskWrapper{
    *{
        user-select: none;
    }
    // &:underlined{
    //     -webkit-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
    //     -moz-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
    //     box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
    // }
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    margin-bottom: 2px;
    min-height: 27px;
    transition: all .3s;
    cursor: pointer;
    opacity: 1;

    .taskTopDimmed{
        backdrop-filter: blur(8px);
    }

    .taskTop{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 3px 8px;
        position: relative;
        .onDropText{
            top: 0;
            left: 0;
            position: absolute;
            background: rgba(4, 92, 122, 0.793);
            width: 100%;
            height: 26px;
            border-radius: 4px;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: white;
            }
        }
        > div{
            display: flex;
            flex-direction: row;
        }
        .taskIcons{
            margin: 0 5px;
            >img{
                margin: 0 3px;
            }
        }

        .checkListItemsLeft{
            img{
                margin-top: 1px;
            }
        }
        
        .checkListItemsRight{
            >div{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .checkListItemsRightDefault{
                position: relative;
                .defaultImgWrapper{
                    margin: 0 4px;
                    img{
                        margin: 0 4px;
                    }
                }

                .Select{
                    right: -7px;
                    width: 135px;
                }
            }

            .checkListItemsRightPosible{
                img{
                    margin: 0 2px;
                }
            }

            .checkListItemsRightDate{
                position: relative;
                width: 18px;
                height: 18px;
                >img{
                    margin: 0;
                    width: 18px;
                    height: 18px;
                }
                p{  
                    top: 7px;
                    left: 7px;
                    font-weight: 700;
                    line-height: 10px;
                    text-align: center;
                    font-family: Roboto;
                    position: absolute;
                    font-size: 8px;
                }
            }
        }    
    }
    .taskBodyWrapper{
        max-height: 0px;
        overflow: hidden;
        transition: max-height .3s;
    }

    .openedAnim{
        max-height: 400px;
    }

    .taskBody{
        display: flex;
        flex-direction: column;
        padding: 0 8px 12px 28px;
        .description{
            padding: 6px 0 8px 0;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: left;
        }
        .checkListItemsWrapper{
            .checkListItem{
                display: flex;
                height: 22px;
                align-items: center;
                flex-direction: row;
                img{
                    height: 10px;
                    width: 10px;
                    margin-right: 5px;
                }
                p{
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 14px;
                    letter-spacing: 0em;
                    text-align: left;
                }
            }
        }
        .taskBottom{
            display: flex;
            padding-top: 10px;
            .labelWrapper{
                height: 14px;
                padding: 1px, 10px, 0px, 10px;
                border-radius: 100px;
                gap: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 5px;
                p{
                    margin: 0 10px;
                    font-family: Roboto;
                    font-size: 9px;
                    font-weight: 400;
                    line-height: 12px;
                    letter-spacing: 0em;
                    text-align: center;
                }      
            }
        }
    }
    
}

.taskWrapperHidden{
    height: 0px;
    overflow: hidden;
    min-height: 0px;
}

.wrapperOpenedAnim{
    padding: 8px 0;
}

.currentTaskDragged{
    display: hidden;
}

.taskDragged{
    // visibility: hidden;
    position: absolute;
}

.holderToshowDragged{
    width: 100%;
    height: 0px;
    background-color: #90caf92b;
    border-radius: 4px;
    transition: all .1s;
}


.holderToshowDraggedShowed{
    height: 27px;
    border: 1px solid #90CAF9;
}

// .Opened{
//     padding: 8px 0;
// }

@media (prefers-color-scheme: light) {
    .notActiveTaskWrapper{
        &:hover{
            background: rgba(0, 0, 0, 0.04);
        }
    }

    .taskWrapper{
        color: rgb(255, 255, 255);
        .taskTop{
            .checkListItemsRight{
                .checkListItemsRightDate{
                    p{  
                        color: #1976D2;
                    }
                }
            }    
            .checkListItemsLeft{
                p{
                    color: rgba(0, 0, 0, 0.87);
                }
            }
        }
        .taskBody{
            .description{
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.6);
            }
            .checkListItemsWrapper{
                .checkListItem{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12) ;
                    p{
                        color: rgba(0, 0, 0, 0.6);
                    }
                }
            }
            .taskBottom{
                .labelWrapper{
                    border: 0.6px solid rgba(2, 136, 209, 1);
                    p{
                        color: rgba(2, 136, 209, 1);
                    }      
                }
            }
        }
    }
    
    .underlined{
        -webkit-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
        -moz-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
        box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
    }
    
    .taskWrapperActive{
        background: rgba(25, 118, 210, 0.12);
    }

}
@media (prefers-color-scheme: dark) {
    .notActiveTaskWrapper{
        &:hover{
            background: rgba(255, 255, 255, 0.04);
        }
    }

    .taskWrapper{
        background: #202124;
        .taskTop{

            .checkListItemsLeft{
                p{
                    color: white;
                }
            }
            
            .checkListItemsRight{
                .checkListItemsRightDate{
                    p{  
                        color: #90CAF9;
                    }
                }
            }    
        }
        .taskBody{
            .description{
                border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                color: rgba(255, 255, 255, 0.70);
            }
            .checkListItemsWrapper{
                .checkListItem{
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12) ;
                    p{
                        color: rgba(255, 255, 255, 0.70);
                    }
                }
            }
            .taskBottom{
                .labelWrapper{
                    border: 0.6px solid #29B6F6;
                    p{
                        color: #29B6F6;
                    }      
                }
            }
        }
    }
    
    .underlined{
        -webkit-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
        -moz-box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
        box-shadow: 0px 2px 19px 0px rgba(25,118,210,0.17);
    }
    
    .taskWrapperActive{
        background: rgba(144, 202, 249, 0.12);
    }

}




