@media (prefers-color-scheme: light) {
    .tasksWrapper{
        padding: 15px 7px;
        background: rgb(255, 255, 255);
        // position: relative;
    }
}
@media (prefers-color-scheme: dark) {
    .tasksWrapper{
        padding: 15px 7px;
        background: #202124;
        // position: relative;
    }
}
