.calendarWrapper{
    position: absolute;
    min-height: 220px;
    max-height: 240px;
    height: 240px;
    width: 240px;
    z-index: 2121;
    box-shadow: 0px 3px 5px -1px #00000033;
    box-shadow: 0px 5px 8px 0px #00000024;
    box-shadow: 0px 1px 14px 0px #0000001F;
    border-radius: 4px;
    padding: 15px;
    .customButtons{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        .iconsbtn{
            display: flex;
            gap: 27px;
            img{
                margin-left: 0;
                height: 24px;
                width: 22px;
            }
        }

        .buttons{
            display: flex;
            gap: 10px;
            .btn{
                display: flex;
                width: 95px;
                height: 24px;
                padding-top: 1px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                flex-shrink: 0;
                border-radius:  4px;
                p{
                    color: rgba(0, 0, 0, 0.60);
                    text-align: center;
                    font-family: Roboto;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
            .filled{
                box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                p{
                    font-weight: 500;
                    line-height: normal;
                    letter-spacing: 0.46px;
                }
            }
        }
    }
    .MuiPickersFadeTransitionGroup-root{
        >div{
            height: 220px;
        }
    }

    .css-31ca4x-MuiPickersFadeTransitionGroup-root{
        >div{
            height: 24px;
        }
    }
    .MuiStack-root{
        padding: 0;
    }
    .MuiPickersCalendarHeader-root{
        padding: 0;
        margin: 0;
        
    }

    .MuiYearCalendar-root{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 210px;
        margin: 0 5px;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }
          
        .MuiPickersYear-root{        
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            .MuiPickersYear-yearButton {
                width: 35px;
                height: 35px;
            }
        }
    }

    .MuiMonthCalendar-root{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 210px;
        margin: 0 5px;
        .MuiPickersMonth-root{        
            display: flex;
            justify-content: center;
            align-items: center;
            height: 35px;
            width: 35px;
            .MuiPickersMonth-monthButton{
                width: 35px;
                height: 35px;
            }
        }
    }

    .MuiPickersCalendarHeader-labelContainer{
        overflow: visible;
        position: relative;
        margin: 0;
        width: 100%;
        .MuiPickersCalendarHeader-switchViewButton {
            position: absolute;
            right: -42px;
            width: 12px;
            height: 12px;
            svg{
                display: none;
            }
        }
    }
    
    .MuiDateCalendar-root{
        width: 210px;
        .MuiPickersCalendarHeader-label{
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 150%; /* 24px */
            letter-spacing: 0.15px;
        }
        .MuiPickersArrowSwitcher-root{
            >*{
                padding: 0;
            }
            display: flex;
            align-items: center;
        }
        .MuiDayCalendar-weekContainer{
            .MuiPickersDay-root{
                margin: 0;
            }
            button{
                width: 30px;
            }
        }
        .MuiDayCalendar-header{
            span{
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0.4000000059604645px;
                text-align: center;
    
            }
        }
        .MuiPickersDay-root{
            height: 30px;
            width: 30px;
        }
        .MuiButtonBase-root{
            margin: 0;
        }
    }

    .MuiPickersSlideTransition-root{
        min-height: 195px;
        height: 100%;
    }


}

// .MuiStack-root{
    .MuiStack-root{
        height: unset !important;
    }




@media (prefers-color-scheme: light) {
    .calendarWrapper{
        background: rgb(255, 255, 255);
        box-shadow: 0px 3px 5px -1px #00000033;
        box-shadow: 0px 5px 8px 0px #00000024;
        box-shadow: 0px 1px 14px 0px #0000001F;
        .customButtons{
            .buttons{
                .btn{
                    border: 1px solid rgba(25, 118, 210, 0.30);
                    p{
                        color: rgba(0, 0, 0, 0.60);
                    }
                }
                .filled{
                    background: #1976D2;
                    box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                    p{
                        color: #FFF;
                    }
                }
            }
        }
    
        .MuiPickersCalendarHeader-labelContainer{
            .MuiPickersCalendarHeader-switchViewButton {
                background-image: url('../../../media/darkMode/calendar/circleCalendar.svg');
            }
        }
        
        .MuiDateCalendar-root{
            .MuiPickersCalendarHeader-label{
                color:  rgba(0, 0, 0, 0.87);
            }
            .MuiDayCalendar-header{
                span{
                    color: #00000061;
        
                }
            }
        }
    }

}
@media (prefers-color-scheme: dark) {
    .calendarWrapper{
        background: #35363A;
        box-shadow: 0px 3px 5px -1px #00000033;
        box-shadow: 0px 5px 8px 0px #00000024;
        box-shadow: 0px 1px 14px 0px #0000001F;
        .customButtons{
            .buttons{
                .btn{
                    border: 1px solid rgba(25, 118, 210, 0.30);
                    p{
                        color: rgba(255, 255, 255, 0.70);
                    }
                }
                .filled{
                    background: #90CAF9;
                    box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
                    p{
                        color: #000000DE;
                    }
                }
            }
        }
    
        .MuiPickersCalendarHeader-labelContainer{
            .MuiPickersCalendarHeader-switchViewButton {
                background-image: url('../../../media/darkMode/calendar/circleCalendar.svg');
            }
        }
        
        .MuiDateCalendar-root{
            .MuiPickersCalendarHeader-label{
                color: #FFF;
            }
            .MuiDayCalendar-header{
                span{
                    color: rgba(255, 255, 255, 0.38);
        
                }
            }
        }
        .MuiButtonBase-root{
            color: #fff;
        }

        .Mui-selected {
            background: #90CAF9 !important;
            color: #000000DE !important;
            transition: all .3s;
        }

        .MuiPickersYear-yearButton{
            font-size: 14px;
            color: #fff;
        }

        .MuiPickersMonth-monthButton{
            font-size: 14px;
            color: #fff;
        }

        .MuiPickersArrowSwitcher-spacer{
            height: 100px;
        }

        .css-kg9q0s-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
            background-image: url('../../../media/darkMode/calendar/arrowLeft.svg');
            background-repeat: no-repeat;
            background-position: center;
            svg{
                visibility: hidden;
            }
        }

        .css-1nkg345-MuiButtonBase-root-MuiIconButton-root-MuiPickersArrowSwitcher-button{
            background-image: url('../../../media/darkMode/calendar/arrowRight.svg');
            background-repeat: no-repeat;
            background-position: center;
            svg{
                visibility: hidden;
            }
        }
    }

}
