.AddTaskWrapper{
    border-radius: 10px;
    // border: 1px solid black;
    min-height: 200px;
    background: white;
    position: absolute;
    top: calc(50% - 200px);
    width: 380px;
    padding: 15px;
    left: calc(50% - 190px);
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);

    .ckeckListItem{
        display: flex;
        flex-direction: row;
        height: 22px;    
        align-items: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        img{
            margin: 5px;
        }
        p{      
            padding: auto;
            text-align: center;
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 12px;
            height: 12px;
            letter-spacing: 0em;
            color: rgba(0, 0, 0, 0.6); 
        }
    }

    input{
        all: unset;
        width: 100%;
    }

    .AddTaskTitleInput{
        font-family: Roboto;
        font-size: 15px;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 0em;
        color: rgba(0, 0, 0, 0.6);
    }

    .inputWrapper{
        display: flex;
        flex-direction: row;
        height: 22px;    
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        .AddTaskInput{
            font-family: Roboto;
            font-size: 12px;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: 0em;
            color: rgba(0, 0, 0, 0.6);
            &::placeholder {
                color: rgba(0, 0, 0, 0.3); 
            } 
        }
        img{
            margin: 5px;
            width: 10px;
            height: 10px;
        }
    }

    .Select{
        top: 20px;
        position: absolute;
        z-index: 1;
        border-radius: 4px;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
       .SelectUnit{
            cursor: pointer;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 12px;
            width: 100%;
            height: 24px;
            font-family: Roboto;
            font-size: 14px;
            margin-top: 10px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.17000000178813934px;
            text-align: left;
            img{
                width: 16px;
                height: 16px;
                margin-right: 12px;
            }
            &:first-of-type{
                margin-top: 10px;
            }
            &:last-of-type{
                margin-bottom: 10px;
            }
            &:hover{
                background: rgba(0, 0, 0, 0.04);
                transition: all .3s;
            }
       } 
    }

    .labels{
        display: flex;
        padding-top: 10px;
        .labelInput{
            position: relative;
            display: flex;
            flex-direction: column;
        }
        .labelWrapper{
            cursor: pointer;
            height: 14px;
            padding: 1px, 10px, 0px, 10px;
            border-radius: 100px;
            gap: 10px;
            border: 0.6px solid rgba(2, 136, 209, 1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 5px;
            p{
                margin: 0 10px;
                font-family: Roboto;
                font-size: 9px;
                font-weight: 400;
                line-height: 12px;
                letter-spacing: 0em;
                text-align: center;
                color: rgba(2, 136, 209, 1);
            }      
        }

        .labelBtnWrapper{
            border: 0.6px solid rgba(0, 0, 0, 0.38);
            background-color: rgba(0, 0, 0, 0.04);
            p{
                color: rgba(0, 0, 0, 0.38);
            }
        }
    }

    .settings{
        display: flex;
        width: 100%;
        height: 40px;
        align-items: end;
        flex-direction: row;
        justify-content: space-between;
        >div{
            display: flex;
            flex-direction: row;
        }

        .settingsLeft{
            align-items: center;
            img{
                cursor: pointer;
                height: 22px;
                margin-right: 10px;
            }
            p{  
                color:#00000099;
                font-family: Roboto;
                font-size: 14px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0em;
                text-align: left;
            }
        }

        .settingsRight{
            position: relative;
            .other{
                display: flex;
                margin-right: 6px;
                .otherDivs{
                    img{
                        margin: 0 2px;
                        width: 15px;
                        height: 14px;

                    }
                }
            }
            .calendarChoiceWrapper{
                .imgIconWrapper{
                    position: relative;
                    width: 18px;
                    height: 18px;
                    >img{
                        margin: 0;
                        width: 18px;
                        height: 18px;
                    }
                    p{  
                        top: 7px;
                        left: 7px;
                        font-weight: 700;
                        line-height: 10px;
                        color: #1976D2;
                        text-align: center;
                        font-family: Roboto;
                        position: absolute;
                        font-size: 8px;
                    }
                }
                >img{
                    width: 18px;
                    height: 18px;
                }
            }
            >div{
                cursor: pointer;
                .selectProgress{
                    width: 135px;
                    left: -28px;
                    .SelectUnit{
                        padding: 0;
                        img{
                            width: 15px;
                            height: 15px;
                        }
                    }
                }
            }
            img{
                margin-left: 14px;
                height: 18px;
            }
        }
    }

    .buttonsWrapper{
        display: flex;
        justify-content: end;
        align-items: center;
        margin-top: 20px;

        .btn{
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 24px;
            padding: 1px, 10px, 0px, 10px;
            border-radius: 4px;
            background: #1976D2;
            margin-left: 20px;
            box-shadow: 0px 1px 1px -2px rgba(0, 0, 0, 0.20), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            p{
                font-family: Roboto;
                font-size: 12px;
                font-weight: 500;
                line-height: 14px;
                color: white;
                letter-spacing: 0.46000000834465027px;
                text-align: left;
            }
        }
        p{
            cursor: pointer;
            font-family: Inter;
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
            color: #00000099;
        }
    }

    .closeBtn{
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 15px;
    }

}